openapi: 3.0.4
servers:
  - url: https://prod.api.market/api/v1/aedbx/aerodatabox
info:
  title: AeroDataBox API - Aviation and Flight API
  description: Affordable aviation & flight data API tailored for small and medium
    businesses, teams and individual developers.
  termsOfService: https://aerodatabox.com/terms/
  contact:
    url: https://aerodatabox.com/contact/
  version: 1.14.0.0
paths:
  /aircrafts/{searchBy}/{searchParam}:
    get:
      tags:
        - Aircraft API
      summary: Single aircraft (by tail-number, Mode-S or ID) / TIER 1
      description: "*Returns:* Single aircraft, *best* matching specified search
        criteria, if found. Please note that all found aircraft will be
        impersonated with registration information matching the requested tail
        number or Mode-S even though an aircraft might be flying under a
        different registration right now."
      operationId: GetAircraft
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search aircraft by
          schema:
            $ref: "#/components/schemas/AircraftSearchByEnum"
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \r

            * `id`: then this field should be an ID of an aircraft (as specified
            in the database of this API);\r

            * `reg`: then this field should be a tail-number of an aircraft
            (with or without spaces or dashes, any case formats are acceptable,
            e.g.PH-BXO, DeMhJ), multiple matches are possible - see below;\r

            * `icao24`, then this field should be a ICAO 24-bit Mode-S address
            of an aircraft specified in hexadecimal format (e.g. 484161,
            483EFD), multiple matches are possible - see below.\r

            \r

            *If multiple matches are possible:*\r

            \r

            There cannot be more than one aircraft actively flying with the same
            tail-number or ICAO 24-bit Mode-S address at any moment of time. \r

            However, historically aircraft tail-numbers or addresses may be used
            multiple times by different aircraft.\r

            This endpoint is supposed to return a **single** aircraft data. In
            case if multiple aircraft satisfy the search criteria, the best
            match will be chosen as follows:\r

            * If an active aircraft is found according to the requested critera,
            it is returned.\r

            * Otherwise, an aircraft that used requested tail-number/address the
            most recently is returned. \r

            * If usage time may not be determined, the aircraft stored in the
            database the most recently is returned."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: withImage
          in: query
          description: "Should include aircraft image (default: false)."
          schema:
            type: boolean
            default: false
        - name: withRegistrations
          in: query
          description: "Should include the history of aircraft registrations (default:
            false)."
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AircraftContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/AircraftContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 1
          position: before
          color: "#beffe6"
    parameters:
      - &a1
        description: API.market API Key
        in: header
        name: x-api-market-key
        value: Please Login/Signup to get an API Key
        required: true
        schema:
          type: string
  /aircrafts/{searchBy}/{searchParam}/registrations:
    get:
      tags:
        - Aircraft API
      summary: Single aircraft registration history (by tail-number, Mode-S or ID) /
        TIER 1
      description: "*Returns:* A list of all known registrations of a single aircraft,
        *best* matching specified search criteria, if found"
      operationId: GetAircraftRegistrations
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search aircraft by
          schema:
            $ref: "#/components/schemas/AircraftSearchByEnum"
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \r

            * `id`, then this field should be an ID of an aircraft (as specified
            in the database of this API);\r

            * `reg`, then this field should be a tail-number of an aircraft
            (with or without spaces or dashes, any case formats are acceptable,
            e.g.PH-BXO, DeMhJ), multiple matches are possible - see below;\r

            * `icao24`, then this field should be a ICAO 24-bit Mode-S address
            of an aircraft specified in hexadecimal format (e.g. 484161,
            483EFD), multiple matches are possible - see below.\r

            \r

            *If multiple matches are possible:* see similar remark to `Single
            aircraft` endpoint."
          required: true
          schema:
            maxLength: 10
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AircraftRegistrationContract"
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AircraftRegistrationContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 1
          position: before
          color: "#beffe6"
    parameters:
      - *a1
  /aircrafts/{searchBy}/{searchParam}/all:
    get:
      tags:
        - Aircraft API
      summary: Aircraft by tail-number, Mode-S or ID / TIER 1
      description: "*Returns:* A list of all aircraft ever matched the requested
        criteria. Please note that all found aircraft will be impersonated with
        registration information matching the requested tail number or Mode-S
        even though an aircraft might be flying under a different registration
        right now."
      operationId: GetAllAircraft
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search aircraft by
          schema:
            $ref: "#/components/schemas/AircraftSearchByEnum"
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \r

            * `id`, then this field should be an ID of an aircraft (as specified
            in the database of this API);\r

            * `reg`, then this field should be a tail-number of an aircraft
            (with or without spaces or dashes, any case formats are acceptable,
            e.g.PH-BXO, DeMhJ);\r

            * `icao24`, then this field should be a ICAO 24-bit Mode-S address
            of an aircraft specified in hexadecimal format (e.g. 484161,
            483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: withImage
          in: query
          description: "Should include aircraft image (default: false)."
          schema:
            type: boolean
            default: false
        - name: withRegistrations
          in: query
          description: "Should include the history of aircraft registrations (default:
            false)."
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AircraftContract"
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AircraftContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 1
          position: before
          color: "#beffe6"
    parameters:
      - *a1
  /airlines/{airlineCode}/aircrafts:
    get:
      tags:
        - Aircraft API
      summary: Airline fleet / Aircraft list by airline code (BETA) / TIER 3
      description: "*Returns:* A paged list of aircraft in the fleet of the specified
        airline. \r

        \r

        That will include *active* aircraft currently flying in an *active*
        airline, verfified through more than one source.\r

        Unconfirmed sightings of an aircraft will not qualify said aircraft to
        be listed in the fleet."
      operationId: GetAirlineFleet
      parameters:
        - name: airlineCode
          in: path
          description: "3-character ICAO-code of the airliner (e.g., KLM, ACA); or\r

            2-character IATA-code of the airline (e.g., KL, AC).\r

            \            \r

            Please note that more than one active airline may have the same IATA
            code, therefore IATA codes are not recommended for this endpoint."
          required: true
          schema:
            maxLength: 3
            minLength: 2
            type: string
        - name: pageSize
          in: query
          description: "The number of returned records will be capped at this value.\r

            Must be a positive value and not exceed the limit stipulated by your
            pricing plan."
          required: true
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: pageOffset
          in: query
          description: The number of records to skip before listing a page of records. In
            conjunction with `pageSize` effectively determines the page number
            (default  - 0).
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: withRegistrations
          in: query
          description: "Should include the history of aircraft registrations (default:
            false)."
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AircraftContractPagedCollectionContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/AircraftContractPagedCollectionContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 3
          position: before
          color: "#ffb694"
    parameters:
      - *a1
  /aircrafts/reg/{reg}/image/beta:
    get:
      tags:
        - Aircraft API
      summary: Aircraft image by tail-number / TIER 2
      description: "**What is the aircraft photo?**\r

        \r

        Aircraft images are being searched in external sources by certain
        criteria without any manual intervention. \r

        Therefore, false matches may be returned. Only images with licenses
        approved for commercial use are returned. Please be advised that you may
        be required to mention author attribution before using the image.\r

        \r

        *Returns:* Image data with medium-sized direct image URL and licence
        approved for commercial use\r

        is returned."
      operationId: GetAircraftImageByRegistration
      parameters:
        - name: reg
          in: path
          description: Tail-number of the aircraft (full, stripped and any case formats
            are acceptable).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ResourceContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /aircrafts/search/term:
    get:
      tags:
        - Aircraft API
      summary: Search active aircraft tail numbers by term / TIER 2
      description: "*Returns:* List of active aircraft registrations with tail numbers
        starting from the term."
      operationId: SearchAircraftByTerm
      parameters:
        - name: q
          in: query
          description: Search term (min. 4 non whitespace characters length)
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to be returned (max. 10, defaut = 5)
          schema:
            type: integer
            format: int32
            default: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringAircraftContractSearchResultCollectionContrac\
                  t"
            application/xml:
              schema:
                $ref: "#/components/schemas/StringAircraftContractSearchResultCollectionContrac\
                  t"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /airports/{codeType}/{code}:
    get:
      tags:
        - Airport API
      summary: Airport by code / TIER 1
      description: "At the moment airports having both ICAO and IATA code are present
        in database only.\r

        \r

        *Returns*: Single airport data, if found."
      operationId: GetAirport
      parameters:
        - name: codeType
          in: path
          description: Type of code to search airport by (`iata` or `icao`)
          schema:
            $ref: "#/components/schemas/AirportCodesByEnum"
        - name: code
          in: path
          description: "If `codeType` is:\r

            * `icao`, then this field must be a 4-character ICAO-code of the
            airport (e.g.: EHAM, KLAX, UUEE, etc.);\r

            * `iata`, then this field must be a 3-character IATA-code of the
            airport (e.g.: AMS, SFO, LAX, etc.).\r

            \r

            Full, stripped and any case formats are acceptable."
          required: true
          schema:
            maxLength: 4
            minLength: 3
            type: string
        - name: withRunways
          in: query
          description: Include runways data (default - false)
          schema:
            type: boolean
            default: false
        - name: withTime
          in: query
          description: Include current local time (default - false)
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AirportContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/AirportContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 1
          position: before
          color: "#beffe6"
    parameters:
      - *a1
  /airports/{codeType}/{code}/runways:
    get:
      tags:
        - Airport API
      summary: Airport runways / TIER 1
      description: "**Which runways does this airport have?**\r

        \r

        At the moment airports having both ICAO and IATA code are present in
        database only.\r

        \r

        *Returns*: Collection of runway data items."
      operationId: GetAirportRunways
      parameters:
        - name: codeType
          in: path
          description: Type of code to search airport by (`iata` or `icao`)
          schema:
            $ref: "#/components/schemas/AirportCodesByEnum"
        - name: code
          in: path
          description: "If `codeType` is:\r

            * `icao`, then this field must be a 4-character ICAO-code of the
            airport (e.g.: EHAM, KLAX, UUEE, etc.);\r

            * `iata`, then this field must be a 3-character IATA-code of the
            airport (e.g.: AMS, SFO, LAX, etc.).\r

            \r

            Full, stripped and any case formats are acceptable."
          required: true
          schema:
            maxLength: 4
            minLength: 3
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RunwayContract"
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RunwayContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 1
          position: before
          color: "#beffe6"
    parameters:
      - *a1
  /airports/search/location:
    get:
      tags:
        - Airport API
      summary: Search airports by location / TIER 2
      description: "**What are the airports closest to the location?**\r

        \r

        At the moment airports having both ICAO and IATA code and flight
        schedules are present available only.\r

        \r

        *Returns:* A list of airports found within the specified radius around
        the specified location."
      operationId: SearchAirportsByLocation
      parameters:
        - name: lat
          in: query
          description: Latitude location coordinate in decimal format (between -90 and 90)
          required: true
          schema:
            type: number
            format: float
        - name: lon
          in: query
          description: Longitude location coordinate in decimal format (between -180 and
            180)
          required: true
          schema:
            type: number
            format: float
        - name: radiusKm
          in: query
          description: Radius of search around specified location in kilometers (max. 1000
            km)
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Maximum number of airports to be returned (max. 250)
          required: true
          schema:
            type: integer
            format: int32
        - name: withFlightInfoOnly
          in: query
          description: If set to true, will only return airports which have flight data
            (scheduled or live) available. Default = false.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeoCoordinatesContractListingAirportContractSearchR\
                  esultCollectionContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/GeoCoordinatesContractListingAirportContractSearchR\
                  esultCollectionContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /airports/search/ip:
    get:
      tags:
        - Airport API
      summary: Search airports by IP address geolocation / TIER 2
      description: "**What are the airports closest to the customer, based on their IP
        address?**\r

        **What are the airports closest to the location determined (geo-located)
        by a IP address?**\r

        \r

        This endpoint determines the location by the IP address provided and
        then returns the list of the nearest airports\r

        in the same way as `Search airports by location` endpoint does. \r

        \r

        Please note:\r

        * IP geo-location is not a precise method and it determines an
        approximate location only.\r

        * At the moment airports having both ICAO and IATA code and flight
        schedules are present available only.\r

        \r

        *Returns:* A list of airports found within the specified radius around
        the location approximated (geo-located) from the specified IP address."
      operationId: SearchAirportsByIpGeoLocation
      parameters:
        - name: q
          in: query
          description: A valid public IP v4 address
          required: true
          schema:
            type: string
        - name: radiusKm
          in: query
          description: Radius of search around specified location in kilometers (max. 1000
            km)
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Maximum number of airports to be returned (max. 250)
          required: true
          schema:
            type: integer
            format: int32
        - name: withFlightInfoOnly
          in: query
          description: If set to true, will only return airports which have flight data
            (scheduled or live) available. Default = false.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeoCoordinatesContractListingAirportContractSearchR\
                  esultCollectionContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/GeoCoordinatesContractListingAirportContractSearchR\
                  esultCollectionContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /airports/search/term:
    get:
      tags:
        - Airport API
      summary: Search airports by free text / TIER 2
      description: "At the moment airports having both ICAO and IATA code and flight
        schedules are present available only.\r

        \r

        *Returns:* List of airports with names and city names (and IATA/ICAO
        code, if enabled) matching the search term."
      operationId: SearchAirportByTerm
      parameters:
        - name: q
          in: query
          description: Search query (min. 3 non whitespace characters length)
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of airports to be returned (max. 250, defaut = 10)
          schema:
            type: integer
            format: int32
            default: 10
        - name: withFlightInfoOnly
          in: query
          description: If set to true, will only return airports which have flight data
            (scheduled or live) available. Default = false.
          schema:
            type: boolean
            default: false
        - name: withSearchByCode
          in: query
          description: "If set to true, will attempt to interpret short words within the
            search query as IATA or ICAO code\r

            and prioritize exact matches by these codes (they will appear higher
            than others). \r

            Otherwise, the search by code will be completely excluded (only the
            name of an airport or its city will be searched). \r

            Default = true."
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringListingAirportContractSearchResultCollectionC\
                  ontract"
            application/xml:
              schema:
                $ref: "#/components/schemas/StringListingAirportContractSearchResultCollectionC\
                  ontract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /subscriptions/webhook/{subjectType}/{subjectId}:
    post:
      tags:
        - Flight Alert API
      summary: Create web-hook subscription / TIER 4
      description: "*This endpoitns is a part of Flight alert PUSH API currently
        powered by webhooks.  \r

        If you are running your own web service, you can subscribe to flights by
        number or airport code. \r

        After that, your HTTP endpoint will be called (notified) whenever the
        flight information gets \r

        updated.*\r

        \r

        Creates a web-hook subscription on a subject (e.g., flight alerts by
        number or by airport code).\r

        Returns information about created subscription. Subscription ID
        contained in it\r

        can be used to refresh or remove it.\r

        \r

        Every time a subject gets updated, a HTTP request will be sent to\r

        the URL specified in `url` parameter. Request will be of a POST type \r

        and contain JSON-formatted `FlightNotificationContract` object
        containing subscription\r

        and flights information in  the body (see example response for status
        code 199\r

        of this endpoint documentation).\r

        \r

        All flight alerts / notifications are delivered in best-effort manner.
        They might be missing\r

        or delayed. If there was an error delivering a notification for any
        reason, for example, your\r

        endpoint was not available, returned non-2xx status code, or did not
        respond within timeout period,\r

        there will be 2 more retries after 5 and 15 minutes (**this behavior is
        changing, see below**).\r

        \r

        If subscribed to a specific flight or to flights operated in a specific
        airport:\r

        * Ensure that the flight is within the live updates / ADS-B data
        coverage. There is no sense in subscribing to a flight which operates in
        airports having poor or  no live updates or ADS-B coverage: there simply
        will be no updates. To check if an airport is tracked and on which
        level, use `/health/services/airports/{icao}/feeds` endpoint. You can
        also use `/health/services/feeds/{service}/airports` to get the list of
        covered airports. Read more about coverage here:
        https://www.aerodatabox.com/data-coverage.\r

        * Notifications will cover updates for flights commencing from 6 hours
        ago up to 72 hours in future.\r

        * Among these, notifications will contain only those flight items which
        were actually updated this time.\r

        \r

        ** ! WARNING OF THE UPCOMING BREAKING CHANGES ! **\r

        \r

        WE ARE CHANGING HOW WEB-HOOK SUBSCRIPTION BILLING AND NOTIFICATION RETRY
        IS HANDLED. \r

        \r

        If you're already using Flight Alert API you need to adjust your code to
        prevent service interruption.\r

        \r

        **CURRENT BEHAVIOR (BEING PHASED OUT):**\r

        \r

        * Web-hook subscriptions created using this endpoint have a life-time of
        7 days. Expiration date-time is provided in the response to this
        endpoint. \r

        * After that expiration date the subscription will be removed
        automatically. If you want to prevent expiration and extend the
        subscription, use `PATCH /webhook/{subscriptionId}/refresh` endpoint to
        refresh the subscription. You may also remove the subscription manually
        using DELETE `webhook/{subscriptionId}`.\r

        * As long as a web-hook subscription is active, you will receive
        notifications if there are any.\r

        * You are billed for every call when you create or refresh a
        subscription as per Tier 4 API quota.\r

        * You are **not** billed for the amount of notifications generated or
        delivered to you.\r

        * You may **not** be refunded for unused time on your subscription if
        you remove it manually before expiration or if there were no
        notifications.\r

        * Each failed notification delivery attempt is retried 2 times by
        default, regardless of the reason of failure.\r

        \r

        **UPCOMING BEHAVIOR:**\r

        \r

        * Web-hook subscriptions no longer expire, unless you remove them
        manually.\r

        * This endpoint is moved to the Free Tier and both creating and
        refreshing subscriptions will be free of charge.\r

        * Every API consumer will now have a dedicated flight alert credit
        balance separate from the API quota. \r

        * Credits are deducted from your balance each time an alert notification
        is sent to your webhook. The cost is 1 credit per flight item in the
        notification. If a notification contains 1 flight, it costs 1 credit. If
        a notification contains 5 flights (common with airport subscriptions),
        it costs 5 credits.\r

        * Use caution when subscribing to an airport with a lot of traffic, as
        it may drain your balance quickly.\r

        * As soon as your balance reaches zero, all your web-hook subscriptions
        will pause and no notifications will be sent until you refill your
        balance.The balance is shared among all web-hook subscriptions created
        by you.\r

        * To refill the balance, refer to `POST /subscriptions/balance/refill`
        API endpoint.\r

        * To check the balance, refer to `GET /subscriptions/balance`
        endpoint.\r

        * `PATCH /webhook/{subscriptionId}/refresh` is now deprecated will be
        removed after the transition period. Pricing Tier 4 will be discontinued
        too.\r

        * Each failed notification delivery attempt is not retried by default,
        unless you explicitly set amount of retries when creating the
        subscription using `maxDeliveryRetries` parameter in the request body.\r

        * Each retry attempt costs the same amount of credits as the original
        notification delivery attempt.\r

        \r

        **WHEN THE CHANGE WILL HAPPEN?**\r

        \r

        * Transition period will end on **the 4th of April, 2026**. Both systems
        will co-exist during the transition period until then. After that date
        only the credit-based billing system will remain operational. \r

        \r

        **MIGRATION GUIDE / LEARN MORE**\r

        \r

        Read our guide at https://aerodatabox.com/flight-alert-api-2026/"
      operationId: SubscribeWebhook
      parameters:
        - name: subjectType
          in: path
          description: Subject type
          schema:
            $ref: "#/components/schemas/SubscriptionSubjectType"
        - name: subjectId
          in: path
          description: "Subject ID. If `subjectType` is: \r

            * `FlightByNumber`, then this field must be a flight number (with or
            without spaces, IATA or ICAO, any case formats are acceptable, e.g.
            KL1395, Klm 1395);\r

            * `FlightByAirportIcao`, then this field must be a 4-character
            ICAO-code of the airport where flights are operated (e.g.: EHAM,
            KLAX, UUEE, etc.);"
          required: true
          schema:
            type: string
        - name: useCredits
          in: query
          description: "THIS IS A TEMPORARY MIGRATION PARAMETER FOR EASIER TRANSITION. \r

            Default value: false.\r

            Set to true to create a web-hook subscription under the new,
            credit-based billing model.In this case, the call will be free of
            charge despite Tier 4.\r

            After transition this parameter will be ignored as all subscriptions
            will be created as credit-based and you will be able to remove it."
          schema:
            type: boolean
            default: false
      requestBody:
        description: Command containing parameters for web-hook subscription creation
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebHookSubscription"
      responses:
        "199":
          description: Information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlightNotificationContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/FlightNotificationContract"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/SubscriptionContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 4
          position: before
          color: "#8a8eb2"
    parameters:
      - *a1
  /subscriptions/webhook/{subscriptionId}:
    get:
      tags:
        - Flight Alert API
      summary: Get web-hook subscription / FREE TIER
      description: "*This endpoint is a part of Flight alert PUSH API currently
        powered by webhooks.  \r

        If you are running your own web service, you can subscribe to flights by
        number or airport code. \r

        After that, your HTTP endpoint will be called (notified) whenever the
        flight information gets \r

        updated.*\r

        \r

        Gets information about an existing active web-hook subscription."
      operationId: GetWebhook
      parameters:
        - name: subscriptionId
          in: path
          description: Subscription ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/SubscriptionContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: FREE TIER
          position: before
          color: "#ccc"
    delete:
      tags:
        - Flight Alert API
      summary: Remove web-hook subscription / FREE TIER
      description: "*This endpoitns is a part of Flight alert PUSH API currently
        powered by webhooks.  \r

        If you are running your own web service, you can subscribe to flights by
        number or airport code. \r

        After that, your HTTP endpoint will be called (notified) whenever the
        flight information gets \r

        updated.*\r

        \r

        Removes the subscription"
      operationId: UnsubscribeWebhook
      parameters:
        - name: subscriptionId
          in: path
          description: Subscription ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: FREE TIER
          position: before
          color: "#ccc"
    parameters:
      - *a1
  /subscriptions/webhook:
    get:
      tags:
        - Flight Alert API
      summary: List web-hook subscriptions / FREE TIER
      description: "*This endpoitns is a part of Flight alert PUSH API currently
        powered by webhooks.  \r

        If you are running your own web service, you can subscribe to flights by
        number or airport code. \r

        After that, your HTTP endpoint will be called (notified) whenever the
        flight information gets \r

        updated.*\r

        \r

        Get the list of existing active web-hook subscriptions"
      operationId: GetWebhookList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubscriptionContract"
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubscriptionContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: FREE TIER
          position: before
          color: "#ccc"
    parameters:
      - *a1
  /subscriptions/webhook/{subscriptionId}/refresh:
    patch:
      tags:
        - Flight Alert API
      summary: Refresh web-hook subscription (DEPRECATED) / TIER 4
      description: " *This endpoitns is a part of Flight alert PUSH API currently
        powered by webhooks.  \r

        \ If you are running your own web service, you can subscribe to flights
        by number or airport code. \r

        \ After that, your HTTP endpoint will be called (notified) whenever the
        flight information gets \r

        \ updated.*\r

        \ \r

        \ Refreshes an existing web-hook subscription\r

        \ \r

        \ If the subscription had an expiration date-time set when created, this
        endpoint \r

        \ will extend it by the same period of time as the one it was originally
        created with. \r

        \ E.g., if subscription was originally created for 7 days, this endpoint
        will\r

        \ add extra 7 days to the expiration date-time. Note, that web-hook
        subscriptions\r

        \ cannot be extended beyond the sliding window of 60 days from the
        current date-time. \r

        \ \r

        \ If the subscription had no expiration date-time set, nothing occurs.\r

        \ \r

        \ **! WARNING OF THE UPCOMING BREAKING CHANGES !**\r

        \ \r

        \ DUE TO TRANSITIONING TO A NEW CREDIT-BASED BILLING MODEL FOR WEB-HOOK
        SUBSCRIPTIONS, \r

        \tTHIS ENDPOINT WILL BE DEPRECATED AND REMOVED LATER ON.\r

        \r

        \ **MIGRATION GUIDE / LEARN MORE**\r

        \ \r

        \ Read our guide at https://aerodatabox.com/flight-alert-api-2026/"
      operationId: RefreshWebhook
      parameters:
        - name: subscriptionId
          in: path
          description: Subscription ID
          required: true
          schema:
            type: string
            format: uuid
        - name: useCredits
          in: query
          description: "THIS IS A TEMPORARY MIGRATION PARAMETER FOR EASIER TRANSITION. \r

            Default value: false.\r

            Set to true to refresh an existing web-hook subscription under the
            new, credit-based billing model. In this case, the call will be free
            of charge despite Tier 4."
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/SubscriptionContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      deprecated: true
      x-badges:
        - name: TIER 4
          position: before
          color: "#8a8eb2"
    parameters:
      - *a1
  /subscriptions/balance:
    get:
      tags:
        - Flight Alert API
      summary: Get web-hook subscription balance / FREE TIER
      description: "The current web-hook subscription balance information.\r

        This is separate from your API marketplace quota and is used solely for
        billing of web-hook subscriptions.\r

        For more details about how flight alert API billing works, refer to our
        guide at https://aerodatabox.com/flight-alert-api-2026/"
      operationId: GetBalance
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionBalanceContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/SubscriptionBalanceContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: FREE TIER
          position: before
          color: "#ccc"
    parameters:
      - *a1
  /subscriptions/balance/refill:
    post:
      tags:
        - Flight Alert API
      summary: Refill web-hook subscription balance / TIER 1
      description: "Performs refill operation on the web-hook subscription balance by
        the specified amount of credits.\r

        This balance is separate from your API marketplace quota and is used
        solely for billing of web-hook subscriptions.\r

        \r

        In the request body, you specify how many credits you want to add. This
        is a variable-rate endpoint and the amount of API units \r

        deducted from your API quota depends on the amount of flight alerts
        credits requested.\r

        The conversion rate is: 1 credit = 1 API unit.\r

        \r

        Additional limits apply with regard to how many credits you can request
        per single refill operation and how many credits\r

        you can have in your balance at any given time. These limits depend on
        your pricing plan (https://aerodatabox.com/pricing).\r

        \r

        For more details about how flight alert API billing works, refer to our
        guide at https://aerodatabox.com/flight-alert-api-2026/"
      operationId: RefillBalance
      requestBody:
        description: The details of the balance refill operation, including the amount
          of credits to add.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionsBalanceRefillRequestContract"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionBalanceContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/SubscriptionBalanceContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 1
          position: before
          color: "#beffe6"
    parameters:
      - *a1
  /flights/{searchBy}/{searchParam}:
    get:
      tags:
        - Flight API
      summary: Flight Status (single day) / TIER 2
      description: "**What is the status of a specific flight?**\r

        **What is the historical status or schedule of a specific flight on a
        specific date in past or in future?**\r

        \r

        This endpoint returns data about a specific flight  live flight status
        (if the flight is within the coverage and not in distant future), \r

        or flight schedule data otherwise.\r

        \r

        If `dateLocal` is specified, gets data about flight(s) departing or
        arriving on the day specified (local time).\r

        Otherwise, gets data about the status of flight(s) operating on the
        nearest date (either in past or in future).\r

        \r

        A flight can be searched by:\r

        * flight number it's being operated under; or\r

        * ATC-callsign it's being operated under; or\r

        * tail-number of the aircraft it's being operated by; or\r

        * Mode-S 24-bit ICAO Transponder address of the aircraft it's being
        operated by.\r

        \r

        Flight data may include airport of arrival and departure, scheduled and
        actual times, flight status, type of aircraft, \r

        tail-number and aircraft image.\r

        \r

        Some flights may have partial data. The data may be absent for either
        arrival \r

        or departure airport or may not include live updates of time and status.
        Check quality markers inside the response to \r

        determine which data is available.\r

        \r

        Normally, information with live status updates and estimated/actual
        arrival/departure times is only available \r

        for airports tracked live or with ADS-B by our system. Otherwise flight
        information will be with scheduled info only \r

        or absent. \r

        \r

        To check if an airport is currently tracked and on which level, \r

        use `/health/services/airports/{icao}/feeds` endpoint. You can also use
        `/health/services/feeds/{service}/airports` to get \r

        the list of covered airports. \r

        \r

        Read more about coverage and flight data limitations here:
        https://www.aerodatabox.com/data-coverage."
      operationId: GetFlight_FlightNearest
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: "#/components/schemas/FlightSearchByEnum"
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \r

            * `number`, then this field shoud be Flight number (with or without
            spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395,
            Klm 1395)\r

            * `callsign`, then this field should be ATC call-sign of the flight
            (with or without spaces, any case formats are acceptable,
            e.g.AFL1482, nca 008X);\r

            * `reg`, then this field should be Aircraft tail-number (with or
            without spaces or dashes, any case formats are acceptable,
            e.g.PH-BXO, DeMhJ);\r

            * `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S
            address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: dateLocalRole
          in: query
          description: "* If set to `Both` (default, recommended for best results) then
            the dateLocal parameter shall be considered as both departure and
            arrival date. If a flight departs OR arrives on that date (in the
            local timezone of the origin or destination, respectively), it will
            be returned.\r

            * If set to `Departure` then the dateLocal parameter shall be
            considered as departure date only. Only the flights departing on
            that date (in the local timezone of origin) will be returned.\r

            * If set to `Arrival` then the dateLocal parameter shall be
            considered as arrival date only. Only the flights arriving on that
            date (in the local timezone of destination) will be returned."
          schema:
            $ref: "#/components/schemas/FlightDirection"
        - name: withAircraftImage
          in: query
          description: "Should include aircraft image (default: false).\r

            \r

            Aircraft images are being searched in external sources by certain
            criteria without any manual intervention. \r

            Therefore, false matches may be returned. Only images with licenses
            approved for commercial use are returned. \r

            Please be advised that you may be required to mention author
            attribution before using the image."
          schema:
            type: boolean
            default: false
        - name: withLocation
          in: query
          description: "Should include real-time positional data, e.g.: location, speed,
            altitude, etc., if available (default: false)."
          schema:
            type: boolean
            default: false
        - name: withFlightPlan
          in: query
          description: "Should include the flight plan filed with the ATC for the flight
            (default: false).\r

            \r

            * NOTE 1: Generally availabe to flights departing from, arriving to
            or crossing the mainland U.S. airspace.\r

            * NOTE 2: Only available on Basic and Ultra, Ultra-2 and Mega
            pricing plans.\r

            * NOTE 3: If set to true and the flight plan is found for one or
            more flights returned, **the request will be billed as 2 requests**
            against your API quota (except on Mega plan)."
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FlightContract"
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FlightContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /flights/{searchBy}/{searchParam}/{dateLocal}:
    get:
      tags:
        - Flight API
      summary: Flight Status (single day) / TIER 2
      description: "**What is the status of a specific flight?**\r

        **What is the historical status or schedule of a specific flight on a
        specific date in past or in future?**\r

        \r

        This endpoint returns data about a specific flight  live flight status
        (if the flight is within the coverage and not in distant future), \r

        or flight schedule data otherwise.\r

        \r

        If `dateLocal` is specified, gets data about flight(s) departing or
        arriving on the day specified (local time).\r

        Otherwise, gets data about the status of flight(s) operating on the
        nearest date (either in past or in future).\r

        \r

        A flight can be searched by:\r

        * flight number it's being operated under; or\r

        * ATC-callsign it's being operated under; or\r

        * tail-number of the aircraft it's being operated by; or\r

        * Mode-S 24-bit ICAO Transponder address of the aircraft it's being
        operated by.\r

        \r

        Flight data may include airport of arrival and departure, scheduled and
        actual times, flight status, type of aircraft, \r

        tail-number and aircraft image.\r

        \r

        Some flights may have partial data. The data may be absent for either
        arrival \r

        or departure airport or may not include live updates of time and status.
        Check quality markers inside the response to \r

        determine which data is available.\r

        \r

        Normally, information with live status updates and estimated/actual
        arrival/departure times is only available \r

        for airports tracked live or with ADS-B by our system. Otherwise flight
        information will be with scheduled info only \r

        or absent. \r

        \r

        To check if an airport is currently tracked and on which level, \r

        use `/health/services/airports/{icao}/feeds` endpoint. You can also use
        `/health/services/feeds/{service}/airports` to get \r

        the list of covered airports. \r

        \r

        Read more about coverage and flight data limitations here:
        https://www.aerodatabox.com/data-coverage."
      operationId: GetFlight_FlightOnSpecificDate
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: "#/components/schemas/FlightSearchByEnum"
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \r

            * `number`, then this field shoud be Flight number (with or without
            spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395,
            Klm 1395)\r

            * `callsign`, then this field should be ATC call-sign of the flight
            (with or without spaces, any case formats are acceptable,
            e.g.AFL1482, nca 008X);\r

            * `reg`, then this field should be Aircraft tail-number (with or
            without spaces or dashes, any case formats are acceptable,
            e.g.PH-BXO, DeMhJ);\r

            * `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S
            address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: dateLocal
          in: path
          description: "Local date of departure or arrival (in format: YYYY-MM-DD, e.g.:
            2019-08-29). Maximum/minimum allowable date is determined by the
            current data coverage limitations and your pricing plan."
          required: true
          schema:
            pattern: \d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?
            type: string
            format: date-time
        - name: dateLocalRole
          in: query
          description: "* If set to `Both` (default, recommended for best results) then
            the dateLocal parameter shall be considered as both departure and
            arrival date. If a flight departs OR arrives on that date (in the
            local timezone of the origin or destination, respectively), it will
            be returned.\r

            * If set to `Departure` then the dateLocal parameter shall be
            considered as departure date only. Only the flights departing on
            that date (in the local timezone of origin) will be returned.\r

            * If set to `Arrival` then the dateLocal parameter shall be
            considered as arrival date only. Only the flights arriving on that
            date (in the local timezone of destination) will be returned."
          schema:
            $ref: "#/components/schemas/FlightDirection"
        - name: withAircraftImage
          in: query
          description: "Should include aircraft image (default: false).\r

            \r

            Aircraft images are being searched in external sources by certain
            criteria without any manual intervention. \r

            Therefore, false matches may be returned. Only images with licenses
            approved for commercial use are returned. \r

            Please be advised that you may be required to mention author
            attribution before using the image."
          schema:
            type: boolean
            default: false
        - name: withLocation
          in: query
          description: "Should include real-time positional data, e.g.: location, speed,
            altitude, etc., if available (default: false)."
          schema:
            type: boolean
            default: false
        - name: withFlightPlan
          in: query
          description: "Should include the flight plan filed with the ATC for the flight
            (default: false).\r

            \r

            * NOTE 1: Generally availabe to flights departing from, arriving to
            or crossing the mainland U.S. airspace.\r

            * NOTE 2: Only available on Basic and Ultra, Ultra-2 and Mega
            pricing plans.\r

            * NOTE 3: If set to true and the flight plan is found for one or
            more flights returned, **the request will be billed as 2 requests**
            against your API quota (except on Mega plan)."
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FlightContract"
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FlightContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /flights/{searchBy}/{searchParam}/{dateFromLocal}/{dateToLocal}:
    get:
      tags:
        - Flight API
      summary: Flight History and Schedule (range of days) / TIER 3
      description: "**What is the history or schedule of a specific flight within a
        specific range of dates in past or in future?**\r

        \r

        This endpoint is the similar to the `Flight status` endpoint. \r

        The only difference is that instead of returning the flight data on a
        single date, it returns the data over a range of dates, thus\r

        allowing to get insights on the flight history or schedule within the
        specified range.\r

        \r

        All limitations and considerations applicable to `Flight status`
        endpoint are applicable to this endpoint as well."
      operationId: GetFlightHistory_FlightHistory
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: "#/components/schemas/FlightSearchByEnum"
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \r

            * `number`, then this field shoud be Flight number (with or without
            spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395,
            Klm 1395)\r

            * `callsign`, then this field should be ATC call-sign of the flight
            (with or without spaces, any case formats are acceptable,
            e.g.AFL1482, nca 008X);\r

            * `reg`, then this field should be Aircraft tail-number (with or
            without spaces or dashes, any case formats are acceptable,
            e.g.PH-BXO, DeMhJ);\r

            * `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S
            address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: dateFromLocal
          in: path
          description: "Beginning of the range of local dates of departure or arrival (in
            format: YYYY-MM-DD, e.g.: 2019-08-29). Maximum/minimum allowable
            value is determined by the current data coverage limitations and
            your pricing plan."
          required: true
          schema:
            pattern: \d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?
            type: string
            format: date-time
        - name: dateToLocal
          in: path
          description: "End of the range of local dates of departure or arrival (in
            format: YYYY-MM-DD, e.g.: 2019-08-29). Maximum/minimum allowable
            value is determined by the current data coverage limitations and
            your pricing plan. This date must be bigger than the dateFromLocal.
            The maximum difference between this date and dateFromLocal is
            limited and is determined by your pricing plan (ranging from 7 to 30
            days as per moment of writing)."
          required: true
          schema:
            pattern: \d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?
            type: string
            format: date-time
        - name: dateLocalRole
          in: query
          description: "* If set to `Both` (default, recommended for best results) then
            the dateFromLocal and dateToLocal parameters shall be considered as
            both departure and arrival dates. If a flight departs OR arrives on
            dates within the specified range (in the local timezone of the
            origin or destination, respectively), it will be returned.\r

            * If set to `Departure` then the dateFromLocal and
            dateToLocal  parameters shall be considered as departure dates only.
            Only the flights departing on dates within the specified rang(in the
            local timezone of origin) will be returned.\r

            * If set to `Arrival` then the dateFromLocal and
            dateToLocal  parameters shall be considered as arrival dates only.
            Only the flights arriving on dates within the specified rangd (in
            the local timezone of destination) will be returned."
          schema:
            $ref: "#/components/schemas/FlightDirection"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FlightContract"
            application/xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FlightContract"
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 3
          position: before
          color: "#ffb694"
    parameters:
      - *a1
  /flights/{searchBy}/{searchParam}/dates:
    get:
      tags:
        - Flight API
      summary: Flight departure dates / TIER 2
      description: "**On which days the flight operates?** or **What is the flight
        schedule?**\r

        \r

        Flight can be searched by:\r

        * flight number it's being operated under; or\r

        * ATC-callsign it's being operated under; or\r

        * tail-number of the aircraft it's being operated by; or\r

        * Mode-S 24-bit ICAO Transponder address of the aircraft it's being
        operated by.\r

        \r

        *Returns:* Array of local departure dates in (YYYY-MM-DD) format for
        flights operated under speified call-sign and within the time range
        specified."
      operationId: GetFlightDates_FlightDatesAll
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: "#/components/schemas/FlightSearchByEnum"
        - name: searchParam
          in: path
          description: "Value of the search criteria. If **searchBy** is: \r

            * `number`, then this field shoud be Flight number (with or without
            spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395,
            Klm 1395)\r

            * `callsign`, then this field should be ATC call-sign of the flight
            (with or without spaces, any case formats are acceptable,
            e.g.AFL1482, nca 008X);\r

            * `reg`: then this field should be Aircraft tail-number (with or
            without spaces or dashes, any case formats are acceptable,
            e.g.PH-BXO, DeMhJ);\r

            * `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S
            address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /flights/{searchBy}/{searchParam}/dates/{fromLocal}/{toLocal}:
    get:
      tags:
        - Flight API
      summary: Flight departure dates / TIER 2
      description: "**On which days the flight operates?** or **What is the flight
        schedule?**\r

        \r

        Flight can be searched by:\r

        * flight number it's being operated under; or\r

        * ATC-callsign it's being operated under; or\r

        * tail-number of the aircraft it's being operated by; or\r

        * Mode-S 24-bit ICAO Transponder address of the aircraft it's being
        operated by.\r

        \r

        *Returns:* Array of local departure dates in (YYYY-MM-DD) format for
        flights operated under speified call-sign and within the time range
        specified."
      operationId: GetFlightDates_FlightDatesInRange
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: "#/components/schemas/FlightSearchByEnum"
        - name: searchParam
          in: path
          description: "Value of the search criteria. If **searchBy** is: \r

            * `number`, then this field shoud be Flight number (with or without
            spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395,
            Klm 1395)\r

            * `callsign`, then this field should be ATC call-sign of the flight
            (with or without spaces, any case formats are acceptable,
            e.g.AFL1482, nca 008X);\r

            * `reg`: then this field should be Aircraft tail-number (with or
            without spaces or dashes, any case formats are acceptable,
            e.g.PH-BXO, DeMhJ);\r

            * `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S
            address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: fromLocal
          in: path
          description: "Beginning of the search range (local time, format: YYYY-MM-DD)"
          required: true
          schema:
            pattern: \d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?
            type: string
            format: date-time
        - name: toLocal
          in: path
          description: "End of the search range (local time, format: YYYY-MM-DD)"
          required: true
          schema:
            pattern: \d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "451":
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ErrorContract"
        "503":
          description: Service Unavailable
      x-badges:
        - name: TIER 2
          position: before
          color: "#aab6f8"
    parameters:
      - *a1
  /flights/airports/{codeType}/{code}/{fromLocal}/{toLocal}:
    get:
      tags:
        - Flight API
      summary: FIDS (airport departures and arrivals) - by local time range / TIER 2
      description: "**What are current departures or arrivals at the airport?** or
        **What is the flight schedule at the airport?** or **What is flight
        history at the airport?**\r

        \r

        Flights may contain live updates with corresponding information related
        to the actual progress of the flight \r

        (including actual/estimated arrival/departure times). In this case this
        endpoint serves as a FIDS endpoint. \r

        Presense of live updates is subject to data coverage: not all airports
        have this coverage in our system.\r

        \r

        Otherwise flight information will be limited to scheduled only and will
        not be updated real-time. Much more airports\r

        have this type of coverage. To check if airport is tracked and on which
        level, use */health/services/airports/{icao}/feeds* endpoint. \r

        You can also use */health/services/feeds/{service}/airports* to get the
        list of supported airports for this\r

        or that layer of coverage. To learn more about the data coverage, refer
        to *https://www.aerodatabox.com/data-coverage*.\r

        \r

        *Returns*: the list of arriving and/or departing flights scheduled
        and/or planned and/or commenced within a specified \r

        time range for a specified airport."
      operationId: GetAirportFlights
      parameters:
        - name: codeType
          in: path
          description: Type of code to search airport by (`iata` or `icao`)
          schema:
            $ref: "#/components/schemas/AirportCodesByEnum"
        - name: code
          in: path
          description: "If `codeType` is:\r

            * `icao`, then this field must be a 4-character ICAO-code of the
            airport (e.g.: EHAM, KLAX, UUEE, etc.);\r

            * `iata`, then this field must be a 3-character IATA-code of the
            airport (e.g.: AMS, SFO, LAX, etc.).\r

            \r

            Full, stripped and any case formats are acceptable."
          required: true
          schema:
            maxLength: 4
            minLength: 3
            type: string
        - name: fromLocal
          in: path
          description: "Beginning of the search range (local time, format:
            YYYY-MM-DDTHH:mm)"
          required: true
          schema:
            pattern: \d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?
            type: string
            format: date-time
        - name: toLocal
          in: path
          description: "End of the search range (local time, format: YYYY-MM-DDTHH:mm).
            Must be more than beginning of the search range by no more than 12
            hours."
          required: true
          schema:
            pattern: \d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?
            type: string
            format: date-time
        - name: direction
          in: query
          description: "Direction of flights: Arrival, Departure or Both (default)"
          schema:
            $ref: "#/components/schemas/FlightDirection"
        - name: withLeg
          in: query
          description: "If set to true, the result will include movement information from
            airport opposite in this flight leg (airport of origin for arriving
            flight or airport of destination for departing flight).\r

            In this case, Movement property will be replaced with Departure and
            Arrival properties for each flight.\r

            Default: false."
          schema:
            type: boolean
            default: false
        - name: withCancelled
          in: query
          description: "If set to true, result will include cancelled, divered, likely
            cancelled (CanceledUncertain) flights.\r

            Default: true."
          schema:
            type: boolean
            default: true
        - name: withCodeshared
          in: query
          description: "If set to true, the result will include flights with all
            code-shared statuses.\r

            Otherwise, code-sharing flights will be exclued. For airports, where
[...]
